@charset "utf-8";
@font-face {
    font-family: 'dinregular';
    src: url('fonts/dinregular-webfont.eot');
    src: url('fonts/dinregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/dinregular-webfont.woff') format('woff'),
         url('fonts/dinregular-webfont.ttf') format('truetype'),
         url('fonts/dinregular-webfont.svg#dinregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'avenirregular';
    src: url('fonts/avenir_55_roman-webfont.eot');
    src: url('fonts/avenir_55_roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/avenir_55_roman-webfont.woff') format('woff'),
         url('fonts/avenir_55_roman-webfont.ttf') format('truetype'),
         url('fonts/avenir_55_roman-webfont.svg#avenirregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'museo300';
    src: url('fonts/museo300-regular-webfont.eot');
    src: url('fonts/museo300-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/museo300-regular-webfont.woff') format('woff'),
         url('fonts/museo300-regular-webfont.ttf') format('truetype'),
         url('fonts/museo300-regular-webfont.svg#museo300') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'baroque_scriptregular';
    src: url('fonts/baroquescript-webfont.eot');
    src: url('fonts/baroquescript-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/baroquescript-webfont.woff') format('woff'),
         url('fonts/baroquescript-webfont.ttf') format('truetype'),
         url('fonts/baroquescript-webfont.svg#baroque_scriptregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {
    line-height:1;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}
nav ul {
    list-style:none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
input, select {
    vertical-align:middle;
}
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

.clear{clear:both;}

body{
	background:url(../images/background.png);
	width:auto;
	height:auto;
	color:#5f656c;

}
/*slider frame*/
#sliderFrame {
    width:593px;
	height:440px;
    padding:0px;
	position:relative;
} 
#slider {
    width:593px;
	height:348px;
	position:relative;
	margin:0;
}
#slider img{
	position:absolute;
	border:none;
	display:none;
}

/* the link style (if an image is wrapped in a link) */
#slider a.imgLink {
	z-index:2;
	position:absolute;
	top:0px;
	left:0px;
	border:0;
	padding:0;
	margin:0;
	width:100%;
	height:100%;
}

/*thumbnails*/
#thumbs 
{
    margin-top:9px;
}
#thumbs .thumb 
{
    display:block;
    *display:inline;
	zoom:1;/*IE6, IE7 hack*/
    margin-left:20px;
	float:left;
}

#thumbs .thumb img{
	cursor:pointer; 
	width:96px; 
	height:77px; 
	opacity:0.5;
	filter:alpha(opacity:50);
    padding:3px;
    background:#9da9a7;
}
#thumbs .thumb-on img{
	opacity:1;
	filter:alpha(opacity:100);
}
#thumbs .thumb:first-child {margin-left:0;}

/* --------- Others ------- */
#slider 
{
	transform: translate3d(0,0,0);
    -ms-transform:translate3d(0,0,0);
    -moz-transform:translate3d(0,0,0);
    -o-transform:translate3d(0,0,0);
}







.first{
	margin-left:0 !important;
}
.last{
	margin-right:0 !important;
}

.container{
	background:url(../images/container-bg.png) repeat-y;
	width:1001px;
	height:auto;
	margin-left:auto;
	margin-right:auto;
}
header, .left, .right, footer{
	margin-left:30px;
}
header{
	width:924px;
	height:auto;
}
#nav{
	width:auto;
	height:20px;
	float:right;
	padding:0;
	margin-top:9px;
}
#nav li span{
	margin-left:8px;
	margin-right:8px;
}
#nav li{
	float:left;
	height:20px;
	margin:0;
	line-height:20px;
}
#nav li a{
	display:block;
	height:20px;
	line-height:20px;
	font-family:'museo300';
	font-size:14px;
	text-decoration:none;
	color:#696f75;
}
#logo{
	width:auto;
	height:77px;
	line-height:77px;
	border-bottom:3px double #c0c7c7;
	border-top:3px double #c0c7c7;
	text-decoration:none;
	font-size:28px;
	font-family:'baroque_scriptregular';
	color:#7e8d8c;
	margin-top:7px;
	float:left;
}
#brilliant{
	background:url(../images/logo-decor-left.png) left no-repeat;
	padding-left:52px;
}
#wedding{
	background:url(../images/logo-decor-right.png) right no-repeat;
	padding-right:50px;
	margin-left:-25px;
}
#social{
	float:right;
	width:283px;
	height:60px;
	margin-top:20px;
}
#social p{
	font-size:20px;
	font-family:'museo300';
	text-align:center;
}
.social{
	background:url(../images/social-bg.png) no-repeat;
	width:283px;
	height:36px;
	margin-top:11px;
}
.btn{
	width:26px;
	height:36px;
	line-height:26px;
	margin-left:12px;
	display:block;
	float:left;
}
#fb{
	background:url(../images/faceboo-social.png) left no-repeat;
	margin-left:25%;
}
#twitter{
	background:url(../images/tweeter-social.png) left no-repeat;
}
#rss{
	background:url(../images/rss-social.png) left no-repeat;
}
#mail{
	background:url(../images/mail-social.png) left no-repeat;
}
.menu{
	background:url(../images/menu.png) no-repeat;
	width:1082px;
	height:74px;
	margin-left:-81px;
	margin-top:33px;
}
#menu{
	padding:0;
	width:962px;
	margin-left:80px;
}
#menu li{
	float:left;
	margin:0;
	height:60px;
}
#menu li a{
	display:block;
	height:60px;
	line-height:60px;
	padding:0 12px;
	text-decoration:none;
	color:#FFF;
	font-size:18px;
	font-family:'museo300';
}
#menu li a:hover{
	background:url(../images/menu-hover.png) repeat-x;
}
/*left*/
.left{
	width:594px;
	height:auto;
	float:left;
	margin-left:30px;
}
.slider{
	width:594px;
	height:445px;
	position:relative;
	z-index:10;
}
#ribbon{
	display:block;
	background:url(../images/banner-ribbon.png) no-repeat;
	width:539px;
	height:73px;
	line-height:73px;
	position:absolute;
	font-size:32px;
	font-family:'museo300';
	top:247px;
	left:0;
	text-indent:22px;
	z-index:15;
}
.slider-img{
	background:#9da9a7;
	padding:3px;
	float:left;
	margin-top:9px;
	margin-left:21px;
}
.left h2{
	background:url(../images/decoration.png)top no-repeat;
	padding-top:42px;
	font-size:24px;
	font-family:'avenirregular';
	width:594px;
	height:auto;
	text-transform:uppercase;
	margin-top:12px;
	font-weight:lighter;
}
.pic-info{
	background:url(../images/decoration.png) bottom no-repeat;
	padding-bottom:32px;
	font-size:12px;
	font-family:'dinregular';
	width:594px;
	height:auto;
	color:#5f656c;
	margin-top:10px;
}
.jennings, .moralez, .carriage{
	width:auto;
	height:auto;
	position:relative;
}
.first-photo{
	margin-top:14px;
}
.circle{
	background:url(../images/circle.png) no-repeat;
	width:71px;
	height:71px;
	line-height:71px;
	text-align:center;
	font-size:24px;
	font-family:'avenirregular';
	color:#FFF;
	text-shadow: 1px 1px 0px #000;
	top:160px;
	left:-35px;
	position:absolute;
}
.left p{
	font-size:14px;
	line-height:20px;
	font-family:'dinregular';
}
.jennings .p{
	margin-bottom:15px;
	margin-top:23px;
}
.photo{
	display:block;
	float:left;
	margin-left:8px;
	margin-top:8px;
}
.comments-btn{
	background:url(../images/comments-btn-bg.png) repeat-x;
	border-radius:2px;
	margin-top:14px;
	float:left;
	display:block;
	height:20px;
	line-height:20px;
	padding:0 10px;
	text-decoration:none;
	font-family:'dinregular';
	font-size:12px;
	color:#FFF;
}
.share{
	float:right;
	width:204px;
	height:20px;
	margin-top:15px;
}
.tweet-btn{
	background:url(../images/tweet-btn.png) no-repeat;
	display:block;
	text-decoration:none;
	width:37px;
	height:20px;
	line-height:20px;
	padding-left:18px;
	font-size:10px;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	color:#006587;
	margin-right:3px;
}
.tweet-number{
	background:url(../images/tweet-number.png) no-repeat;
	height:20px;
	width:33px;
	line-height:20px;
	padding-left:5px;
	font-size:10px;
	text-align:center;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	color:#006587;
	margin-right:14px;
}
.share-btn{
	background:url(../images/fb-share.png) no-repeat;
	height:20px;
	width:39px;
	line-height:20px;
	padding-left:21px;
	font-size:10px;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:none;
	color:#FFF;
	margin-right:2px;
}
.share-number{
	background:url(../images/fb-share-number.png) no-repeat;
	height:20px;
	width:27px;
	line-height:20px;
	padding-left:5px;
	text-align:center;
	font-size:10px;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	color:#000;
}
.moralez .p{
	margin-top:19px;
	margin-bottom:20px;
}
.moralez .p:first-child{
	margin-bottom:0px;
}
#older{
	background:#535656;
	height:40px;
	line-height:40px;
	width:154px;
	color:#FFF;
	border-radius:5px;
	display:block;
	text-decoration:none;
	font-family:'dinregular';
	font-size:20px;
	text-align:center;
	margin-top:51px;
}
/*right*/
.right{
	width:300px;
	height:auto;
	float:left;
}
.searchbar{
	width:297px;
	height:29px;
	border:1px solid #d8dada;
}
#textfield{
	width:260px;
	height:29px;
	line-height:16px;
	border:none;
	font-size:16px;
	font-family:'museo300';
	padding:0;
	margin:0;
	text-indent:10px;
	float:left;
}
#lupa{
	background:url(../images/lupa.png) center no-repeat;
	width:33px;
	height:29px;
	line-height:29px;
	border:none;
	float:left;
	padding:0;
	margin:0;
	cursor:pointer;
}
.newsletter{
	width:298px;
	min-height:197px;
	border:1px solid #b9babc;
	border-radius:3px;
	box-shadow: inset 0px 0px 20px 1px #dedddd;
	margin-top:16px;
}
#newsletter{
	background:url(../images/newsletter-bg.png) repeat-x;
	font-family:'museo300';
	height:36px;
	line-height:36px;
	font-size:20px;
	text-align:center;
	color:#FFF;
	margin:0;
}
.right p{
	font-family:'dinregular';
}
.newsletter p{
	font-size:14px;
	color:#6a6f76;
	margin-left:14px;
	margin-top:17px;
}
#email-address{
	width:266px;
	height:29px;
	border:1px solid #d8dada;
	margin-left:14px;
	margin-top:21px;
	font-family:'dinregular';
	font-size:14px;
	color:#5f656c;
	text-indent:16px;
	float:left; 
}
#submit{
	background:none;
	height:27px;
	line-height:27px;
	border-bottom:3px dotted #c0c7c7;
	border-top:3px dotted #c0c7c7;
	border-left:none;
	border-right:none;
	font-family:'museo300';
	font-size:14px;
	color:#73787e;
	padding:0;
	float:right;
	margin-right:21px;
	margin-top:15px;
	cursor:pointer;
}
.ads .photo{
	display:block;
	float:left;
	margin-top:18px;
	margin-left:48px;
}
#james{
	border:1px solid #cdcdcd;
}
#minted{
	padding:1px;
	background:#FFF;
	border:1px solid #877f68;
}
#dresses{
	border:1px solid #dfdeda;
}
.right h2{
	background:url(../images/title-bg.png) no-repeat;
	width:auto;
	height:41px;
	line-height:41px;
	font-family:'museo300';
	font-size:28px;
	color:#FFF;
	text-align:center;
	font-weight:lighter;
	margin-top:30px;
	margin-bottom:17px;
}
.favourite, .tags, .categories, .archives{
	width:auto;
	height:auto;
}
.block{
	width:auto;
	height:97px;
	margin-top:22px;
	border-bottom:1px solid #d9dddd;
	padding-bottom:20px;
	font-family:'dinregular';
}
.block a{
	float:left;
	background:#FFF;
	padding:5px;
	border:1px solid #dbdbdb;
	box-shadow: 1px 1px 0px 0px #e1e1e1;
	margin-right:10px;
	display:block;
	float:left;
}
.block h3{
	color:#3e679d;
	font-size:16px;
	float:left;
	width:183px;
	font-weight:lighter;
}
.block p{
	width:183px;
	float:left;
	font-family:'dinregular';
	font-size:12px;
	color:#5f656c;
	margin-top:20px;
	line-height:17px;
}
.tags a{
	font-family:'museo300';
	color:#81908f;
	text-decoration:none;
	margin-left:10px;
	line-height:28px;
}
.big{
	font-size:28px;
}
.average{
	font-size:16px;
}
.small{
	font-size:13px;
}
.ul{
	width:auto;
	height:auto;
	list-style-type:none;
}
.ul li{
	height:30px;
	line-height:30px;
	width:254px;
	margin-left:20px;
	margin-top:1px;
}
.ul li a{
	background:url(../images/list-stile-type2.png) left no-repeat;
	padding-left:48px;
	display:block;
	width:206px;
	height:30px;
	line-height:30px;
	text-decoration:none;
	color:#81908f;
	font-family:'dinregular';
	font-size:16px;
}
.ul li a:hover{
	background:#c0c7c7 url(../images/list-stile-type2-hover.png) left no-repeat;
	color:#eff1f1;
}
/*footer*/
footer{
	background:url(../images/footer-bg.png) top center no-repeat;
	width:928px;
	padding-top:28px;
	min-height:550px;
	margin-top:60px;
}
#widget, #categories, #main-menu, #sponsored-links{
	float:left;
	min-height:280px;
	margin-top:35px;
}	
#main-menu, #sponsored-links{
	margin-left:70px;
}

#widget{
	width:300px;
	margin-right:45px;
}
footer h4{
	font-size:20px;
	font-family:'avenirregular';
	font-weight:lighter;
}
#widget p{
	margin-top:15px;
	font-family:'dinregular';
	font-size:14px;
	line-height:17px;
}
#widget a{
	background:url(../images/arrow.png) left no-repeat;
	padding-left:19px;
	text-decoration:none;
	text-transform:uppercase;
	color:#696f75;
	font-family:'dinregular';
	width:80px;
	font-size:14px;
	margin-top:20px;
	display:block;
}
.navigation{
	width:110px;
	width:110px;
	height:auto;
	padding:0;
	margin-top:10px;
}
.navigation li{
	width:100px;
	height:27px;
	line-height:25px;
	list-style-type:none;
	margin-left:3px;
}
.navigation li a{
	font-family:'museo300';
	font-size:14px;
	text-decoration:none;
	color:#535656;
}
#sponsored-links{
	width:210px;
}
#sponsored-links li{
	height:27px;
	line-height:25px;
	list-style-type:none;
	margin-left:3px;
}
#calendar{
	border-bottom:4px double #c0c7c7;
	padding:20px 0px;
	border-top:4px double #c0c7c7;
}
#calendar table{
	width:500px;
	margin-left:180px;
	font-family:'dinregular';
	font-size:14px;
}
#calendar .year{
	width:70px;
}
#calendar td{
	height:20px;
	line-height:20px;
}
#footer{
	margin-top:23px;
	font-size:12px;
	font-family:'dinregular';
}
